body {
    font-family: 'Poppins', sans-serif;
    background-color: #0e1e2b;
    color: #51acc5;
}

/* header/jumbotron */
.jumbotron {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #51acc5;
    font-family: 'Poppins', sans-serif;
    background-color: #1c3d52;
    margin-bottom: 15px;
}

.jumbotron h1 {
    font-size: 40px;
}


#currentDay {
    font-size: 20px;
    text-align: center;
}
